
html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(90deg, #EAD8D8 0%, #b2a4d4 35%, #D8A7B1 100%);
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 5px,
}
.main-content p {
   text-align: center;
    font-size: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}
.container {
   display: block;
   margin: 50px 0 auto;
}

ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
}
ul li button {
    margin-left: auto;
}

input, button {
    outline: none;
}
 button {
    background-color: #D8A7B1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    border-radius: 4px;
}
button:hover {
    background: #b2a4d4;
    text-decoration: none;
    cursor: pointer;
}

h2, h3,
label[for='new-task'] {
    display: block;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

li .delete:hover {
    color: #CF2323;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

#clear {
    font-size: 15px;
    float: right;
    text-align: center;
}