
html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(90deg, #EAD8D8 0%, #B2A4D4 35%, #D8A7B1 100%);
}

.container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    border-color: #D1C4E9;
}
.add {
    padding: 20px;
    display: flex;
    align-content: stretch;
}
input {
    border-right: none;
    padding: 0 10px;
    font-size: 16px;
    border-color: #D8A7B1;
}
button {
    padding: 10px 20px;
    background-color: #D8A7B1; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1C4E9;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color:#fff;
}

